*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    position: fixed;
    background: url(pexels-vlad-kovriga-339119.jpg) no-repeat;
    /* background-position: center; */
    background-size: cover;
    height: 100% !important;
    width: 100%;
}
.center-div{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 0.5px solid;
    border-top-color: rgba(255, 255, 255, 0.683);
    border-left-color: rgba(255, 255, 255, 0.683);
    border-right-color: rgba(255, 255, 255, 0.683);
    border-bottom-color: rgba(255, 255, 255, 0.683);
    padding: 100px 130px;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    box-shadow: inset 0px 0px 60px #5a72ec6d;

    transition: all ease-in-out 0.5s;
    z-index: 9999;
}
.branding{
    display: flex;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.branding img{
    height: 45px;
    align-self: center;
    padding: 0px ;
}
.branding h3{
    align-self: center;
    padding: 0px 5px;
    font-weight: 600;
    text-shadow:  0 0 3px wheat;
}
.ulr-search input{
    text-align: center;
}
.ulr-enter-box{
    width: 230px;
    padding: 10px 0;
}
.container-fluid{
    padding: 0 !important;
}
/* --------------------------------------------------------------------- */

.top-div{
    transition: all ease-in-out 0.5s;
    padding: 0px 0px;
    width: 50%;
    transition: all ease-in-out 0.1s;
    padding: 0 100px;
    width: 75%;
    transition: all ease-in-out 0.15s;
    padding: 0 95px;
    width: 85%;
    transition: all ease-in-out 0.20s;
    padding: 0 80px;
    width: 100%;
    transition: all ease-in-out 0.25s;
    padding: 0 70px;
    transition: all ease-in-out 0.30s;
    padding: 0 60px;
    top: 4.5%;
    border-radius: 1px;
    display: flex;
    text-align: center;
    border: 0.5px solid;
    border-top-color: rgba(255, 255, 255, 0.683);
    border-left-color: rgba(255, 255, 255, 0.683);
    border-right-color: rgba(255, 255, 255, 0.683);
    border-bottom-color: rgba(255, 255, 255, 0.683);
    backdrop-filter: blur(2px);
    box-shadow: inset 0px 0px 60px #5a72ec6d;
}

.branding-top{
    display: flex;
    align-self: center;
    margin-left: 0;
    width: auto;
}
.branding-top img{
    height: 45px;
}
.ulr-search-top{
    display: flex;
    float: right;
    margin-left: auto;
}
.ulr-search .search-btn-box{
    align-self: center;
}
.result-box{
    background: white;
    width: 100%;
    min-height: 100%;
    background: none;
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -100%;
}
.result-box-transform{

}
.result{    
    margin-top: 60px;
}
.card{
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 10px;
}